@using BusinessObject
@model IEnumerable<Category>

@{
    ViewData["Title"] = "Category management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container my-5">
    <h1>Category List</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                </tr>
            }
        </tbody>
    </table>
</div>